.code-line-highlight {
	color: #ef5ba1;
}

/* Custom table class used in some posts */
.my-bordered-table {
border-collapse: collapse;
border: 1px solid black;
}
.my-bordered-table th, .my-bordered-table td {
border: 1px solid black;
padding: 5px;
}

.image {
	text-align: center;
}

.rgram img {
	max-width: 200px;
	max-height: 200px;
}

.arrow img {
	height: 5em;
}

inverse-list {
	float: left;
}

alias-list {
	float: right;
}
